{% load staticfiles %}
{% include 'public/public_head.html' %}
<!--首页banner-->

<div class="wrap banner_w">
    <ul class="imgs">
        <li style="background:#ffdb64;">
            <a href="#" target="_blank" alt=""><img src="{% static 'images/zg_banner1.jpg' %}" width="990" height="450" title="" alt=""></a>
        </li>
        <li style="background:rgb(239, 24, 81);">
            <a href="#" target="_blank" alt=""><img src="{% static 'images/banner2.jpg' %}" width="990" height="450" title="" alt=""></a>
        </li>
        <li style="background:rgb(74, 60, 126);;">
            <a href="#" target="_blank" alt=""><img src="{% static 'images/banner3.png' %}" width="990" height="450" title="" alt=""></a>
        </li>
    </ul>
    <div class="dot">
        <div class="dotshadow">&nbsp;</div>
        <ul></ul>
    </div>
    <div class="banner_tab">
        <a href="javascript:;" class="pre"><b>&nbsp;</b><i><</i></a>
        <a href="javascript:;" class="next"><b>&nbsp;</b><i>></i></a>
    </div>
</div>
<!--首页banner   end  -->
<div class="main main1 cont">
    <div class="main_t clearfix">
        <h2 class="fl"><a href="#" target="_blank" alt="">公务员考试</a></h2>
        <ul class="fr">                            
            <li><a href="#" target="_blank" alt="">国家公务员</a></li>
            <li><a href="#" target="_blank" alt="">地方公务员</a></li>
            <li><a href="#" target="_blank" alt="">乡镇公务员</a></li>
            <li><a href="#" target="_blank" alt="">事业单位</a></li>
            <li><a href="#" target="_blank" alt="">医疗卫生系统</a></li>
        </ul>
    </div>
    <div class="main_ml fl">
        <a href="#" target="_blank" alt=""><img src="{% static 'images/zg_ind_m1.jpg' %}" width="210" height="403" alt=""></a>
        <ul>    
            <li><a href="#" target="_blank" alt="">北京公务员</a></li>
            <li><a href="#" target="_blank" alt="">浙江公务员</a></li>
            <li><a href="#" target="_blank" alt="">上海公务员</a></li>
            <li><a href="#" target="_blank" alt="">天津公务员</a></li>                
        </ul>
    </div>
    <ul class="main_mr listI fr">
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
    </ul>
</div>
<div class="main main2 cont">
    <div class="main_t clearfix">
        <h2 class="fl"><a href="#" target="_blank" alt="">公务员考试</a></h2>
        <ul class="fr">                            
            <li><a href="#" target="_blank" alt="">国家公务员</a></li>
            <li><a href="#" target="_blank" alt="">地方公务员</a></li>
            <li><a href="#" target="_blank" alt="">乡镇公务员</a></li>
            <li><a href="#" target="_blank" alt="">事业单位</a></li>
            <li><a href="#" target="_blank" alt="">医疗卫生系统</a></li>
        </ul>
    </div>
    <div class="main_ml fl">
        <a href="#" target="_blank" alt=""><img src="{% static 'images/zg_ind_m2.jpg' %}" width="210" height="403" alt=""></a>
        <ul>    
            <li><a href="#" target="_blank" alt="">北京公务员</a></li>
            <li><a href="#" target="_blank" alt="">浙江公务员</a></li>
            <li><a href="#" target="_blank" alt="">上海公务员</a></li>
            <li><a href="#" target="_blank" alt="">天津公务员</a></li>                
        </ul>
    </div>
    <ul class="main_mr listI fr">
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
    </ul>
</div>
<div class="ind_ads">
    <a href="#" target="_blank" alt=""><img src="{% static 'images/zg_idn_ads.jpg' %}" width="1200" height="120" alt=""></a>
</div>

<div class="main main3 cont">
    <div class="main_t clearfix">
        <h2 class="fl"><a href="#" target="_blank" alt="">公务员考试</a></h2>
        <ul class="fr">                            
            <li><a href="#" target="_blank" alt="">国家公务员</a></li>
            <li><a href="#" target="_blank" alt="">地方公务员</a></li>
            <li><a href="#" target="_blank" alt="">乡镇公务员</a></li>
            <li><a href="#" target="_blank" alt="">事业单位</a></li>
            <li><a href="#" target="_blank" alt="">医疗卫生系统</a></li>
        </ul>
    </div>
    <div class="main_ml fl">
        <a href="#" target="_blank" alt=""><img src="{% static 'images/zg_ind_m3.jpg' %}" width="210" height="403" alt=""></a>
        <ul>    
            <li><a href="#" target="_blank" alt="">北京公务员</a></li>
            <li><a href="#" target="_blank" alt="">浙江公务员</a></li>
            <li><a href="#" target="_blank" alt="">上海公务员</a></li>
            <li><a href="#" target="_blank" alt="">天津公务员</a></li>                
        </ul>
    </div>
    <ul class="main_mr listI fr">
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
    </ul>
</div>
<div class="main main4 cont">
    <div class="main_t clearfix">
        <h2 class="fl"><a href="#" target="_blank" alt="">公务员考试</a></h2>
        <ul class="fr">                            
            <li><a href="#" target="_blank" alt="">国家公务员</a></li>
            <li><a href="#" target="_blank" alt="">地方公务员</a></li>
            <li><a href="#" target="_blank" alt="">乡镇公务员</a></li>
            <li><a href="#" target="_blank" alt="">事业单位</a></li>
            <li><a href="#" target="_blank" alt="">医疗卫生系统</a></li>
        </ul>
    </div>
    <div class="main_ml fl">
        <a href="#" target="_blank" alt=""><img src="{% static 'images/zg_ind_m4.jpg' %}" width="210" height="403" alt=""></a>
        <ul>    
            <li><a href="#" target="_blank" alt="">北京公务员</a></li>
            <li><a href="#" target="_blank" alt="">浙江公务员</a></li>
            <li><a href="#" target="_blank" alt="">上海公务员</a></li>
            <li><a href="#" target="_blank" alt="">天津公务员</a></li>                
        </ul>
    </div>
    <ul class="main_mr listI fr">

        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
        <li>
            <a href="#" target="_blank" alt=""><img src="" width="130" height="130" alt=""></a>
            <a href="#" target="_blank" alt="">海信（Hisense)<br/>LED55EC760UC 55英寸曲面</a>
            <span class="price">￥4999.00</span> 
        </li>
    </ul>
</div>

<div class="ind_ads">
    <a href="#" target="_blank" alt=""><img src="{% static 'images/zg_idn_ads.jpg' %}" width="1200" height="120" alt=""></a>
</div>
<!-- footer  -->
{% include 'goods/../public/public_footer.html' %}