<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<link rel="stylesheet" href="css/pub.css"/>
<link rel="stylesheet" href="css/log.css"/>
<link rel="stylesheet" href="css/color.css"/>
<script src="js/jquery.min.js"></script>

</head>

<body>
<!--header-->
<div class="zg-header cont clearfix">
    <a href="#" target="_blank" class="zg-header-logo fl"><img src="images/u_logo.jpg" alt="小U商城"/></a>
    <span class="zg-header-title fl">找回密码</span>
</div>
<!--header-->

<div class="reset_w">
	<div class="reset">
    	<h1>找回密码</h1>
    	<form>
        	<div class="ipt_mail_w">
                <div class="ipt_mail_c clearfix">
                    <b class="ipt_mail_iw"><i class="ipt_mail_i"></i></b>
                    <input type="text" value="请输入账号" class="ipt_mail">
                </div>
                <p class="error_info">请输入账号</p>
            </div>
        	<div class="ipt_code_w">
                <div class="ipt_code_c">
                    <input type="text" value="验证码" class="ipt_code">
                    <img src="images/code.jpg" width="69" height="38">
                    
                </div>
                <p class="error_info">请输入验证码</p>
            </div>
        	<input type="submit" value="下一步" class="nextStep">
        </form>
    </div>
</div>
<!--footer-->
<div class="zg-footer-box">
    <p>Copyright © 2010-2016 小U商城 版权所有 保留一切权利</p>
    <p>京ICP备10218183号 京ICP证161188号 京公网安备 11010802020593号 出版物经营许可证新出发京批字第直130052号</p>
</div>
<!--footer-->
<script src="js/pub.js"></script>
</body>
</html>
